main { 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_main {
    background: url("../src/bgmain.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page_main .preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.preview img {
    margin-bottom: 55px;
}

.preview h1 {
    text-align: center;
    font-weight: 700;
    line-height: 36px;
    color: white;
}

main .preview_form { 
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 24px;
    background-color: white;
}

.preview_form .head-form {
    width: 356px;
    margin: 32px 0 24px 0;
    font-weight: 700;
    line-height: 32px;
    color: #141C24;
}

.preview_form form {
    width: 356px;
    display: flex;
    flex-direction: column;    
}

form label {
    margin-bottom: 6px;
}

form .item-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.item-form .quick-select {
    display: flex;
    padding-top: 5px;
    text-decoration: underline;  
}

.item-form select {
    border: 1px solid #637083;
    border-radius: 8px;
    padding: 8px 8px 8px 12px;
}

.quick-select p {
    font-size: 14px;
    padding-right: 8px;
    color: #637083;
    cursor: pointer;
}

